/* utility */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

*:not(body,header, html, main){
    border: 1px solid grey;
    border-radius: 10px; 
   /*  margin-top: 10px; */
}
/* /utility */

body{
    width: 90%;
    margin: auto;
}

/* header */
#logo, #navigazione{
    height: 50px;
}

#copertina{
    height: 300px;
}
/* /header */

/* main */
#titolo_contenuto{
    height: 80px;
}

.section_left, .section_right{
    height: 400px;
    width: 20%;
    float: left;
}

#content{
    height: 400px;
    width: 60%;
    float: left;
}

.img{
    height: 150px;
    margin: 10px;
}
/* /main */

footer{
    height: 50px;
    width: 100%;
}